.ui.one.column.centered.grid
  .ui.card.registration
    .content
      .ui.vertical.center.aligned.segment
        .ui.text.container
          img.ui.large.rounded.image(src='/images/mainPage.jpg')
          h1.ui.header Space-Inavsion
          h2 Победи, если сможешь! :)
          .ui.huge.primary.button.animated_btn#playNow
            | ИГРАТЬ БЕЗ РЕГИСТРАЦИИ И СМС!
            i.right.arrow.icon
      .ui.vertical.stripe.segment
        .ui.middle.aligned.stackable.grid.container
          .row
            .column
              h3.ui.header Цель игры
              p Три раза взорвать базу противника и остаться в живых
              h3.ui.header Правила
              p
                | Ваша база находится на (правой/левой) половине поля, а
                | ваш юнит стоит рядом с базой и ждет указаний. Чтобы заставить его ходить, воспользуйтесь стрелками
                | или клавишами AWSD. Уворачивайтесь от файерболлов, они уменьшают ваше здоровье! Ваши очки здоровья находятся в правой верхней части экрана.
                | Чтобы выстрелить, нажмите пробел. Файербол летит в сторону вашего движения по горизонтали. Стрелять нужно в башни противника и в самого противника.
                | Если башня убита, то на ее месте появляется монетка. Чтобы собрать монетку, подойдите к ней. Количество ваших монеток также находится в (правой/левой) верхней части экрана.
                | Игра заканчивается, когда база противника убита 3 раза. Чтобы убить базу противника, взорвите на ней бомбу.
                | Чтобы поставить бомбу, просто зайдите на базу.
                | Также у вас есть возможность ставить свои башни. Башни можно ставить только на вашей (правой/левой) половине.
                | Чтобы поставить башню нажмите Shift, башня появится там же, где стоит ваш юнит.
          .row
            .center.aligned.column
              a.ui.huge.button(style='visibility:  hidden;') ПОДРОБНЕЕ
