<div class="ui card registration">
    <div class="content left aligned">
        <div class="header">Registration</div>
        <div class="description">

            <form class="ui form formWithValidation">
                <div class="field">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="field">
                    <label>Login</label>
                    <input type="text" name="login" placeholder="Login">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="field">
                        <label>Repeat password</label>
                        <input type="password" name="repeatedPassword" placeholder="Repeat password">
                      </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="conditions" tabindex="0">
                        <label>I agree to the Terms and Conditions</label>
                    </div>
                </div>
                <button class="ui positive button validateBtn" type="submit">Register</button>
                
            </form>

        </div>
    </div>
</div>
