.ui.submit.ui__submit__login, .ui.card.ui__card__login{
    width: 400px;
    margin-top: 100px;
}

.ui.card.ui__card__login.container {
    width: 400px;
}

.ui.card.ui__card__registration{
    margin-top: 100px;
    width: 400px;
}

.ui.selectable.called.table.ui__selectable__celled__table__leaderboard{
    margin-top: 40px;
}

.ui.one.column.centered.grid.ui__one__column__centered__grid__about{
    margin-top: 100px;
}

.ui.one.column.centered.grid.ui__one__column__centered__grid__leaderboard{
    margin-top: 100px;
}

.ui.circular.ui__circular__image{
    width: 280px;
    height: 280px;
}

.one.column.login.grid.one__column__login__grid{
    margin: 0px;
    width: 400px;
}

.errorBorder {
    border-color: red !important;
}

.message.message__error_message {
    color: red;
}

.ui.dropdown.ui__dropdown {
    font-size: initial;
}
