body.man {
    background: url(/images/cartoon-moon_blue.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui.button.man#signupBtn {
    background-color: #260058;
}

.ui.submit.ui__submit__login.ui__submit__login__button.button.man {
    background-color: #e0e1e2 none;
}

.ui.table.ui__selectable__celled__table__leaderboard.man {
    margin-top: -80px;
    width: 800px;
    font-size: 35px;
    background-color: #260058;
    color: white;
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    font-style: normal;
    font-variant: small-caps;
}

.ui.button.ui__button__register.man {
    background-color: #260058;
}

.navbar.man {
    background: #7180cd !important;
}

.selectRaceStyle.man {
    background: #5763a2 !important;
}
