
/*iphone 6*/
@media only screen and (max-width: 375px){
    .ui.huge.menu{
        width: 750px;
    }
    .stopimg{
        width: 750px;
    }
    .stopmessage{
        width: 750px;
    }
    .developertitle{
        font-size: 80px !important;
        
    }

}