@media only screen and (max-width: 414px){
    .ui.huge.menu{
        width: 750px;
        font-size: large;
        height: 96px;
    }

    .stopimg{
        width: 750px;
    }
    .stopmessage{
        width: 750px;
    }
    .developertitle{
        font-size: 80px !important;
        color: white;
    }

    .ui.one.column.centered.grid.ui__one__column__centered__grid__about{
        width: 764px;
    }

    .ui.one.column.centered.grid.one__column__login__grid{
        width: 764px;
    }

    .ui.card.ui__card__login {
        width: 427px !important;
        font-size: x-large !important;
    }
    .field{
        font-size: x-large !important;
    }

    .ui.submit.ui__submit__login.ui__submit__login__button.button{
        font-size: x-large !important;
    }

    .ui.one.column.centered.grid.ui__one__column__centered__grid__registration{
        width: 764px;
    }

    .ui.positive.button.ui__button__register{
        font-size: x-large !important;
    }

    .description{
        padding-top: 25px !important;
    }

    .header{
        font-size: x-large !important;
    }

    .winloseimg{
        width: 750px;
        height: 750px;
    }

    .matchdetailsmessage{
        color: white;
        font-size: 45px;
        width: 750px;
        text-align: center;
    }

    .controls{
        width: 750px;
    }

    .ui.playagain{
        width: 300px;
        height: 100px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .ui.leave{
        width: 300px;
        height: 100px;
        margin-right: 50px;
    }

    .front{
        background: white !important;
        opacity: 1 !important;
    }
    
    .front{
background: white;
opacity: 1;
    }
    .nipple.collection_0{
        top:125% !important;
        left: 15% !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

.canvas#game{
    width: 753px;
    height: 500px;
}

.leaderboard-section{
    width: 750px;
}
.playerpage-section{
    width: 750px;
}
.game-section{
    width: 752px;
}
}

@media only screen and (orientation:landscape) and (max-width:736px){

    .nipple.collection_0{
        opacity: 1 !important;
        visibility: visible !important;
    }

    .back{
        width:80px !important;
        height: 80px !important;
        opacity: 1 !important;
    }
    .front{
        width: 50px !important;
        background: white !important;
        opacity: 1 !important;
        height: 50px !important;
    }

.nipple.collection_0{
    top:132% !important;
}

    .game-section{
        width: 684px;
    }
    #game{
        height: 100% !important;
        width: 100% !important;
    }
}