.ui.simple.dropdown.ui__dropdown.item.races
    | Select race
    i.dropdown.ui__dropdown.icon
    .menu
        .active.selected.item.man(data-race='man') Man
        .item.alien(data-race='alien') Alien
