.ui.simple.dropdown.ui__dropdown.item.races
    span(data-l10n-id='SelectRace')
    i.dropdown.ui__dropdown.icon
    .menu
        .active.selected.item.man(data-l10n-id='Man' data-race='man')
        .item.alien(data-l10n-id='Alien' data-race='alien')
