html
    body
        .ui.modal.developer.alert
            i.close.icon
            .header
                | Profile Picture
            .image.content
                .ui.medium.image
                    img.developer.avatar(src="")
                .description
                    .ui.header.developer.workOn 
                    | We've auto-chosen a profile image for you.
            .actions
                .ui.positive.right.labeled.icon.button
                    | Close
                    i.checkmark.icon
