doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name='viewport', content='width=device-width')
        title Space Invasion
    body
        include navbar.pug
        #application
        script(src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous")
        script(src="/dist/bundle.js")
