<div class="ui huge menu">
    <a class="active item" href="/">
      Home
    </a>
      <a href="/about" class="item">
          About
        </a>
    <div class="right menu">
      <div class="ui simple dropdown item">
        Language <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"><i class="us flag"></i>English</a>
          <a class="item"><i class="ru flag"></i>Русский</a>
        </div>
      </div>
      <div class="item">
          <div onclick="window.location='/registration';"class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>