html
  body
    .ui.huge.menu
      a#homeBtn.item Home
      a#leaderboardBtn.item Leaderboard
      a#aboutBtn.item About
      .right.menu
        .ui.simple.dropdown.ui__dropdown.item
          | Select race
          i.dropdown.ui__dropdown.icon
          .menu
            .active.selected.item.man(data-race='man') Man
            .item.alien(data-race='alien') Alien
        #signupBtn.item
          #signupBtn.ui.primary.button Sign Up
