html
body
    .ui.huge.menu
        a#homeBtn.active.item
            | Home
        a#leaderboardBtn.item
            | Leaderboard
        a#aboutBtn.item
            | About
        .right.menu
            .ui.simple.dropdown.item
                | Language 
                i.dropdown.icon
                .menu
                    a.item
                        i.us.flag
                        | English
                    a.item
                        i.ru.flag
                        | Русский
            .item#signUpBtn
                #signUpBtn.ui.primary.button Sign Up
