<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>Registration</title>
</head>

<body>
    <?- include('navbar.html')?>
        <div class="ui one column centered grid ">
            <?- include('forms/registration.html')?>
        </div>

</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
<script src="/scripts/validation/registration.js"></script>

</html>