div.matchresult
    img.winloseimg(src='../images/victory.png')
h1.matchdetailsmessage vasidmi win! +150 Elo
div.controls
    button.positive.ui.button.playagain Play Again
    button.negative.ui.button.leave Leave
