.ui.one.column.centered.grid
    .ui.card.login.registration_form_style
        .content.left.aligned
            .header.formHeader Welcome
            .description
                form.ui.form.formWithValidation.formText
                    .field(name = "loginField")
                        label Login
                        .ui.left.icon.input
                            input(type="text", name="login", placeholder="Login")
                            i.user.icon
                        span(class = "message message__error_message", hidden=true)
                    .field(name = "passwordField")
                        label Password
                        .ui.left.icon.input
                            input(type="password", name="password", placeholder="Password")
                            i.lock.icon
                        span(class = "message message__error_message", hidden=true)
                    button.ui.submit.ui__submit__login.ui__submit__login__button.button.formText(type="submit", name="ValidateBtn") Log in
                    .ui.error.message.message__error_message
                p
                    button.ui.button.small#register Register now!
