.ui.one.column.centered.grid
  .playerPage
      h1(style='color: white') Welcome, #{user.username}
      img.unit_logo(src='/images/game/' + (user.side === 0 ? 'manUnitLeft.png' : 'alienUnitLeft.png'))
      p
      p
          button.ui.button.animated_btn.rules Rules
      button.massive.ui.button__play.button.animated_btn  PLAY
      button.massive.ui.button__logout.button.animated_btn LOGOUT
