html
body
  .ui.one.column.centered.grid
    .playerPage
        h1(style='color: white') Welcome, #{user.username}
        img.unit_logo(src='../../images/game/alienUnit.png')
        p
        button.massive.green.ui.button__play.button.animated_btn  PLAY
        button.massive.red.ui.button__logout.button.animated_btn LOGOUT
