.ui.one.column.centered.grid
    img.unit_logo(src= '../../images/game/' + (theme === 'man' ? 'manUnit.png' : 'alienUnit.png'))

    p #{user.nickname}
    button.massive.green.ui.button__play.button.animated_btn  PLAY
    button.massive.red.ui.button__logout.button.animated_btn LOGOUT