.ui.one.column.centered.grid.leaderboard
  h2(style="color: #FFF") Scoreboard
.ui.one.column.centered.grid
    .content.left.aligned
      table.ui.selectable.celled.table.leaderboard
        thead
          tr
            th Player
            th Rating
        tbody
        - for (var player = 0; player < count; ++player) 
          tr
            td Vasiliy Dmitriev
            td 100500