.content.centered.aligned.column
    h1(style='color: white') Friends
    .ui.card.centered
        .content
            table.ui.very.basic.celled.table
                thead
                    tr
                        th Friend
                        th Status
                tbody
                    tr
                        td
                            h4.ui.image.header
                                .content
                                    .sub.header
                                        | Nikita
                        td(style='color: green') Online
