.content.center.aligned.column
    h1(style='color: white') Last matches
    .ui.card.centered
        .content
            table.ui.very.basic.celled.table
                thead
                    tr
                        th SIDE
                        th Elo change
                tbody
                    tr
                        td
                            h4.ui.image.header
                                .content
                                    .sub.header
                                        | Human
                        td(style='color: green') +22
