.centered.column.content.center.aligned
  h1(style='color: white') Welcome, #{user.username}
  table.ui.celled.striped.table
    thead
      tr
        th(colspan='2') Stats
    tbody
      tr
        td.collapsing
          i.Area.Chart.icon
          |  Elo
        td.right.aligned.collapsing 100500
      tr
      tr
        td.collapsing
          i.Smile.icon
          |  Wins
        td.right.aligned.collapsing 100500
      td.collapsing
        i.Line.Chart.icon
        |  Winrate
      td.right.aligned.collapsing 100%
      tr
        td.collapsing
          i.Trophy.icon
          |  Leaderboard points
        td.right.aligned.collapsing #{user.score}
  button.massive.green.ui.button PLAY
  button.massive.red.ui.button LOGOUT
