<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>Space Invasion</title>
</head>

<body>
    <?- include('navbar.html');?>

        <div class="ui one column centered grid about">
            <h2 style="color: #FFF">Developers</h2>
        </div>
        <div class="ui one column centered grid about">
            <img id="1" class="ui circular image" src="/images/olga_surikova.jpg">
            <img id="2" class="ui circular image" src="/images/vasiliy_dmitriev.jpg">
            <img id="3" class="ui circular image" src="/images/nikita_boyarskikh.jpg">
            <img id="4" class="ui circular image" src="/images/none.png">
        </div>

        <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">
            </div>
            <div class="image content">
                <div class="ui medium image">
                    <img src="">
                </div>
                <div class="description">
                    <div class="ui header">
                    </div>
                </div>
            </div>
        </div>

</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
<script src="/scripts/selectDeveloper.js"></script>

</html>