html
body
    .ui.one.column.centered.grid.about
        h2(style="color: #FFF") Developers
    .ui.one.column.centered.grid.about
        - var developers = ['olga_surikova','vasiliy_dmitriev','nikita_boyarskikh','egor_kurakov']
            each developer in developers
                img.ui.circular.image(src="/images/"+developer+".jpg")
    .ui.modal
        i.close.icon
        #title.ui.header
        .image.content
            .ui.medium.image
                img#developer-avatar(src="")
            .description
                #workOn.ui.header
