doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        title Space Invasion
    body
        include navbar.pug
        section#login-section(style="display: undefined")
            include forms/login.pug
        section#registration-section(style="display: none")
            include forms/registration.pug
        section#about-section(style="display: none")
            include about.pug
        script(src="/scripts/navigation.js")
