doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", type="text/css", href="semantic/dist/semantic.min.css")
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        title Space Invasion
    body
        include navbar.pug
        section#login-section(style="display: undefined")
            include forms/login.pug
        section#registration-section(style="display: none")
            include forms/registration.pug
        section#about-section(style="display: none")
            include about.pug
        include developerDialog.pug
        script(src="/scripts/navigation.js")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js", integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin="anonymous")    script(src="semantic/dist/semantic.min.js")
        script(src="semantic/dist/semantic.min.js")
        script(src="/scripts/aboutAlertDialog.js")
